<div class="education_bg w-full">
    <div class="mx-auto flex w-fit flex-col items-center p-4 lg:flex-row">
        <img
            src="/education/uofl.png"
            width="750"
            height="329"
            class="lg:pr-6"
        />
        <div class="mt-6 lg:mt-4">
            <p class="text-gold text-center text-2xl font-bold">
                BS, Electrical Engineering
            </p>
            <p class="text-gold text-center text-xl">
                University of Louisiville - 2026 (expected)
            </p>
            <ul class="mx-auto w-fit list-disc text-lg text-white">
                <li>Computer design</li>
                <li>Data structures & algorithms</li>
                <li>Microcontroller programming</li>
                <li>Circuit analysis</li>
            </ul>
        </div>
    </div>
</div>
