<div class="education_bg w-full pt-8">
    <div
        class="mx-auto flex w-fit flex-col items-center p-4 lg:flex-row lg:gap-20"
    >
        <img
            src="/education/uofl.png"
            width="750"
            height="329"
            class="lg:pr-6"
        />
        <div class="">
            <p class="text-gold text-center text-4xl font-bold">
                BS, Electrical Engineering
            </p>
            <p class="text-gold text-center text-2xl">
                University of Louisiville - 2026 (expected)
            </p>
            <ul class="mx-auto w-fit list-disc text-lg text-white">
                <li>Computer design</li>
                <li>Data structures & algorithms</li>
                <li>Microcontroller programming</li>
                <li>Circuit analysis</li>
            </ul>
        </div>
    </div>
</div>
