<div class="w-screen bg-black/5 h-fit drop-shadow-lg pb-4 lg:pb-10 ">
  <p class="w-full h-fit mx-auto font-bold mb-4 lg:mb-10 pt-5 lg:pt-10 text-5xl text-center">Education</p>
  <div class="grid lg:grid-flow-col grid-flow-row place-items-center">
    <img src="../../assets/uofl.png" alt="UofL" class=" max-w-[90%] rounded ">
    <div class="m-5 border-2 rounded-xl border-primary p-4 lg:p-8 lg:px-[6vw]">
      <p class="font-semibold text-2xl text-center">University of Louisville <br> BS, Electrial Engineering<br>
        <span class="text-xl"> 2022-2026 (expected) </span>
      </p>
      <ul class="ml-2 list-disc lg:ml-5 mt-2">
        <li>Network analysis</li>
        <li>Logic and FPGA design</li>
        <li>Engineering Calculus</li>
        <li>MATLAB programming</li>
        <li>Data structures/algorithms</li>
      </ul>
    </div>
  </div>
</div>
