@import "tailwindcss";

@keyframes slide_in_from_bottom {
    0% {
        transform: translateY(80%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.animate_shock_image {
    animation: 1s ease-out 0s 1 slide_in_from_bottom;
}
