<div class="font-inter">
    <div
        class="splash_page_bg_gradient animate_splash_page_slide flex w-full flex-row items-center lg:h-[70vh]"
    >
        <div class="mx-auto w-[40%]">
            <p class="mb-4 text-4xl font-bold lg:text-7xl">
                Hi, I'm Joe Maloney
            </p>
            <p class="text-lg">
                <span class="py-4 text-xl font-bold"
                    >Thank you for visiting</span
                ><br />Aspiring embedded engineer with practical experience
                designing and debugging embedded systems on modern platforms
                like STM32, ESP32, and SAM. Proficent in C/C++, schematic
                capture, and PCB layout. I am seeking an engineering role where
                I can use my skills to contribute to hardware-software
                integration, and push ideas from prototype to product.
            </p>
        </div>
    </div>
    <img
        src="home/desk-wide-view.png"
        width="2000"
        height="707"
        class="w-full opacity-50"
    />
</div>
