@property --bg_position_x {
    syntax: "<percentage>";
    inherits: false;
    initial-value: 60%;
}

.splash_page_bg_gradient {
    background: linear-gradient(
        120deg,
        var(--color-canary) var(--bg_position_x),
        var(--color-gold) var(--bg_position_x)
    );
}

@keyframes splash_page_slide {
    0% {
        --bg_position_x: 00%;
    }

    100% {
        --bg_position_x: 60%;
    }
}

.animate_splash_page_slide {
    animation: 1s ease-out 0s 1 splash_page_slide;
}
